WebSite1/App_WebReferences/ServiceReference1/wsReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.totvs.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsReport" targetNamespace="http://www.totvs.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.totvs.com/Imports">
      <xsd:import schemaLocation="http://bhd050100297.bh01.local:8051/wsReport/mex?xsd=xsd0" namespace="http://www.totvs.com/" />
      <xsd:import schemaLocation="http://bhd050100297.bh01.local:8051/wsReport/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bhd050100297.bh01.local:8051/wsReport/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://bhd050100297.bh01.local:8051/wsReport/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
      <xsd:import schemaLocation="http://bhd050100297.bh01.local:8051/wsReport/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRMSServer_Implements_InputMessage">
    <wsdl:part name="parameters" element="tns:Implements" />
  </wsdl:message>
  <wsdl:message name="IRMSServer_Implements_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImplementsResponse" />
  </wsdl:message>
  <wsdl:message name="IRMSServer_CheckServiceActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckServiceActivity" />
  </wsdl:message>
  <wsdl:message name="IRMSServer_CheckServiceActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckServiceActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IwsBase_AutenticaAcesso_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticaAcesso" />
  </wsdl:message>
  <wsdl:message name="IwsBase_AutenticaAcesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticaAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportList" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportMetaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportMetaData" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportMetaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GenerateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReport" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GenerateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetGeneratedReportSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedReportSize" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetGeneratedReportSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedReportSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetFileHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHash" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetFileHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHashResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetFileChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileChunk" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetFileChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetGeneratedReportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedReportStatus" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetGeneratedReportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedReportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GenerateReportAsynchronous_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReportAsynchronous" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GenerateReportAsynchronous_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReportAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportInfo" />
  </wsdl:message>
  <wsdl:message name="IwsReport_GetReportInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRMSServer">
    <wsdl:operation name="Implements">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/Implements" message="tns:IRMSServer_Implements_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/ImplementsResponse" message="tns:IRMSServer_Implements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivity" message="tns:IRMSServer_CheckServiceActivity_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivityResponse" message="tns:IRMSServer_CheckServiceActivity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IwsBase">
    <wsdl:operation name="Implements">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/Implements" message="tns:IRMSServer_Implements_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/ImplementsResponse" message="tns:IRMSServer_Implements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivity" message="tns:IRMSServer_CheckServiceActivity_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivityResponse" message="tns:IRMSServer_CheckServiceActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticaAcesso">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsBase/AutenticaAcesso" message="tns:IwsBase_AutenticaAcesso_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsBase/AutenticaAcessoResponse" message="tns:IwsBase_AutenticaAcesso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IwsReport">
    <wsdl:operation name="Implements">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/Implements" message="tns:IRMSServer_Implements_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/ImplementsResponse" message="tns:IRMSServer_Implements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <wsdl:input wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivity" message="tns:IRMSServer_CheckServiceActivity_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IRMSServer/CheckServiceActivityResponse" message="tns:IRMSServer_CheckServiceActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportList">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetReportList" message="tns:IwsReport_GetReportList_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetReportListResponse" message="tns:IwsReport_GetReportList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportMetaData">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetReportMetaData" message="tns:IwsReport_GetReportMetaData_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetReportMetaDataResponse" message="tns:IwsReport_GetReportMetaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GenerateReport" message="tns:IwsReport_GenerateReport_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GenerateReportResponse" message="tns:IwsReport_GenerateReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedReportSize">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetGeneratedReportSize" message="tns:IwsReport_GetGeneratedReportSize_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetGeneratedReportSizeResponse" message="tns:IwsReport_GetGeneratedReportSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileHash">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetFileHash" message="tns:IwsReport_GetFileHash_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetFileHashResponse" message="tns:IwsReport_GetFileHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetFileChunk" message="tns:IwsReport_GetFileChunk_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetFileChunkResponse" message="tns:IwsReport_GetFileChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedReportStatus">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetGeneratedReportStatus" message="tns:IwsReport_GetGeneratedReportStatus_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetGeneratedReportStatusResponse" message="tns:IwsReport_GetGeneratedReportStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateReportAsynchronous">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GenerateReportAsynchronous" message="tns:IwsReport_GenerateReportAsynchronous_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GenerateReportAsynchronousResponse" message="tns:IwsReport_GenerateReportAsynchronous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <wsdl:input wsam:Action="http://www.totvs.com/IwsReport/GetReportInfo" message="tns:IwsReport_GetReportInfo_InputMessage" />
      <wsdl:output wsam:Action="http://www.totvs.com/IwsReport/GetReportInfoResponse" message="tns:IwsReport_GetReportInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RM_IRMSServer" type="tns:IRMSServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Implements">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/Implements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/CheckServiceActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RM_IwsBase" type="tns:IwsBase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Implements">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/Implements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/CheckServiceActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaAcesso">
      <soap:operation soapAction="http://www.totvs.com/IwsBase/AutenticaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RM_IwsReport" type="tns:IwsReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Implements">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/Implements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckServiceActivity">
      <soap:operation soapAction="http://www.totvs.com/IRMSServer/CheckServiceActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportList">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetReportList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportMetaData">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetReportMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GenerateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedReportSize">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetGeneratedReportSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileHash">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetFileHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedReportStatus">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetGeneratedReportStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateReportAsynchronous">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GenerateReportAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <soap:operation soapAction="http://www.totvs.com/IwsReport/GetReportInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReport">
    <wsdl:port name="RM_IRMSServer" binding="tns:RM_IRMSServer">
      <soap:address location="http://bhd050100297.bh01.local:8051/wsReport/IRMSServer" />
    </wsdl:port>
    <wsdl:port name="RM_IwsBase" binding="tns:RM_IwsBase">
      <soap:address location="http://bhd050100297.bh01.local:8051/wsReport/IwsBase" />
    </wsdl:port>
    <wsdl:port name="RM_IwsReport" binding="tns:RM_IwsReport">
      <soap:address location="http://bhd050100297.bh01.local:8051/wsReport/IwsReport" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>