REQ_MAT_TOTVS/ProjetoReqMateriaisRmTotvs/ReqMateriaisRmTotvs/Connected Services/ServiceReference1/wsConsultaSQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.totvs.com.br/br/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.totvs.com.br/br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Este serviço disponibiliza métodos para integração com o TOTVS Educacional. 
              Todos os WebMethods existentes neste serviço utilizam autenticação SOAP.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.totvs.com.br/br/">
      <s:element name="AutenticaAcessoAuth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticaAcessoAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticaAcessoAuthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticaAcesso">
        <s:complexType />
      </s:element>
      <s:element name="AutenticaAcessoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticaAcessoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codSentenca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codColigada" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codSistema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarConsultaSQLDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLDataTableAuth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codSentenca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codColigada" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codAplicacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLDataTableAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarConsultaSQLDataTableAuthResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codSentenca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codColigada" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codAplicacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarConsultaSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLAuth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codSentenca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codColigada" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codAplicacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarConsultaSQLAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarConsultaSQLAuthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticaAcessoAuthSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticaAcessoAuth" />
  </wsdl:message>
  <wsdl:message name="AutenticaAcessoAuthSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticaAcessoAuthResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticaAcessoSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticaAcesso" />
  </wsdl:message>
  <wsdl:message name="AutenticaAcessoSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticaAcessoResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLDataTable" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLDataTableAuthSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLDataTableAuth" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLDataTableAuthSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLDataTableAuthResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQL" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLAuthSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLAuth" />
  </wsdl:message>
  <wsdl:message name="RealizarConsultaSQLAuthSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarConsultaSQLAuthResponse" />
  </wsdl:message>
  <wsdl:portType name="wsConsultaSQLSoap">
    <wsdl:operation name="AutenticaAcessoAuth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autentica o usuário no ambiente RM. 
          O usuário e senha devem ser informados por parâmetro.</wsdl:documentation>
      <wsdl:input message="tns:AutenticaAcessoAuthSoapIn" />
      <wsdl:output message="tns:AutenticaAcessoAuthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticaAcesso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autentica o acesso do usuário no ambiente RM. O usuário e 
        senha terá que ser passado via SOAP, criando um token para isto.</wsdl:documentation>
      <wsdl:input message="tns:AutenticaAcessoSoapIn" />
      <wsdl:output message="tns:AutenticaAcessoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realizar Consulta SQL</wsdl:documentation>
      <wsdl:input message="tns:RealizarConsultaSQLDataTableSoapIn" />
      <wsdl:output message="tns:RealizarConsultaSQLDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTableAuth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realizar Consulta SQL</wsdl:documentation>
      <wsdl:input message="tns:RealizarConsultaSQLDataTableAuthSoapIn" />
      <wsdl:output message="tns:RealizarConsultaSQLDataTableAuthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realizar Consulta SQL</wsdl:documentation>
      <wsdl:input message="tns:RealizarConsultaSQLSoapIn" />
      <wsdl:output message="tns:RealizarConsultaSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLAuth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realizar Consulta SQL</wsdl:documentation>
      <wsdl:input message="tns:RealizarConsultaSQLAuthSoapIn" />
      <wsdl:output message="tns:RealizarConsultaSQLAuthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsConsultaSQLSoap" type="tns:wsConsultaSQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaAcessoAuth">
      <soap:operation soapAction="http://www.totvs.com.br/br/AutenticaAcessoAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaAcesso">
      <soap:operation soapAction="http://www.totvs.com.br/br/AutenticaAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTable">
      <soap:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTableAuth">
      <soap:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLDataTableAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQL">
      <soap:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLAuth">
      <soap:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConsultaSQLSoap12" type="tns:wsConsultaSQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaAcessoAuth">
      <soap12:operation soapAction="http://www.totvs.com.br/br/AutenticaAcessoAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaAcesso">
      <soap12:operation soapAction="http://www.totvs.com.br/br/AutenticaAcesso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTable">
      <soap12:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLDataTableAuth">
      <soap12:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLDataTableAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQL">
      <soap12:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarConsultaSQLAuth">
      <soap12:operation soapAction="http://www.totvs.com.br/br/RealizarConsultaSQLAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsConsultaSQL">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Este serviço disponibiliza métodos para integração com o TOTVS Educacional. 
              Todos os WebMethods existentes neste serviço utilizam autenticação SOAP.</wsdl:documentation>
    <wsdl:port name="wsConsultaSQLSoap" binding="tns:wsConsultaSQLSoap">
      <soap:address location="http://localhost:81/wsConsultaSQL.asmx" />
    </wsdl:port>
    <wsdl:port name="wsConsultaSQLSoap12" binding="tns:wsConsultaSQLSoap12">
      <soap12:address location="http://localhost:81/wsConsultaSQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>